.button-border {
  @include fontH3;

  color: $purple;
  border-radius: 2.2rem;
  display: inline-block;
  position: relative;

  height: 4.4rem;
  width: 9.9rem;

  &:after {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0.2rem;
    top: 0.2rem;
    width: 9.5rem;
    height: 4rem;
    background: #ffffff;
    z-index: 2;
    border-radius: 2.2rem;
    content: attr(data-title);
  }

  &:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 9.9rem;
    height: 4.4rem;
    z-index: 1;
    border-radius: 2.2rem;
    background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }

  &:active:before,
  &:focus:before {
    opacity: 0.5;
  }

  &_focus:before {
    opacity: 0.5;
  }
}