section.room-impressions
	h3.room-impressions__title Впечатления от номера
	.room-impressions__wrapper
		.room-impressions__diagram
			include ../components/circle/circle.pug
		ul.room-impressions__list
			li.room-impressions__item.room-impressions__item--ex Великолепно
			li.room-impressions__item.room-impressions__item--good Хорошо
			li.room-impressions__item.room-impressions__item--medium Удовлетворительно
			li.room-impressions__item.room-impressions__item--bad Разочарован
