mixin dropdown-buttons(parameters)
	- const { title, values, id } = parameters

	div(id=id).dropdown-buttons
		if title
			p.dropdown-buttons__title #{title}
		input(class="dropdown-buttons__input js-dropdown-buttons__input" type="text" placeholder="Сколько гостей" readonly)
		ul.dropdown-buttons__list.js-dropdown-buttons__list
			each val in values
				li.dropdown-buttons__option.js-dropdown-buttons__option
					p.dropdown-buttons__option-text #{val.title}
					.dropdown-buttons__buttons
						button(type="button").dropdown-buttons__button.dropdown-buttons__button_minus.dropdown-buttons__button_disabled.js-dropdown-buttons__button_minus -
						span.dropdown-buttons__numeric.js-dropdown-buttons__numeric #{val.num}
						button(type="button").dropdown-buttons__button.dropdown-buttons__button_plus +
			li.dropdown-buttons__option.dropdown-buttons__option_last
				button(type="button").dropdown-buttons__button-bottom.dropdown-buttons__button-bottom_clear.js-dropdown-buttons__button-bottom_clear очистить
				button(type="button").dropdown-buttons__button-bottom.dropdown-buttons__button-bottom_submit.js-dropdown-buttons__button-bottom_submit применить
