.button-big {
  @include fontH3;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  background-image: url("/img/arrow-forward-white.svg"), linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  background-repeat: no-repeat;
  background-position: 96% center;

  border-radius: 2.2rem;

  width: 100%;
  min-width: $minWidthComponent;

  padding: 1.4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &:active,
  &:focus {
    opacity: 0.5;
  }
}
