.range {
  max-width: 266px;
}

.range__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.range__text {
  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
  color: $darkShade50;
}

.range__block {
  position: relative;
}

.range__line {
  width: 266px;
  height: 6px;
  background: #FFFFFF;
  border: 1px solid $darkShade25;
  box-sizing: border-box;
  border-radius: 3px;
}

.rang__fill-line {
  position: absolute;
  width: 88px;
  height: 6px;
  left: 85px;
  top: 0px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 3px;
}

.range__point {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 0;
  top: -4px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  cursor: pointer;

    &--min {
      left: 76px;
    }

    &--max {
      left: 162px;
    }
}

.range__description {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: $darkShade50;
  margin: 15px 0;
}