
.toggle__label {
  position: relative;
  padding-left: 5rem;
  display: block;

  & .toggle__input[type="checkbox"]:checked ~ .toggle__circle {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    left: 2.4rem;

  }

  & .toggle__input[type="checkbox"]:checked ~ .toggle__box {
    border: 0.1rem solid $purple;
  }

}

.toggle__circle {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  left: 0.4rem;
  top: 0.7rem;
  border-radius: 50%;
  background: $darkShade25;
}

.toggle__box {
  position: absolute;
  content: '';
  width: 4rem;
  height: 2rem;
  left: 0;
  top: 0.3rem;
  border: 0.1rem solid $darkShade25;
  box-sizing: border-box;
  border-radius: 1rem;
}

.toggle__input {
  @include visually-hidden;
}

.toggle__text {
  display: inline-block;
  @include textNormal75;
  margin: 0;
}