include ../components/button/button.pug
include ../components/button-border/button-border.pug
include ../components/button-stroke/button-stroke.pug
include ../components/button-big/button-big.pug
include ../components/title-3lvl/title-3lvl.pug

.buttons
	+title-3lvl('buttons')
	.buttons__row
		+button('CLICK ME')
		+button('CLICK ME', true)
	.buttons__row
		+button-border('CLICK ME')
		+button-border('CLICK ME', true)
	.buttons__row.buttons__row--width
		+button-stroke('CLICK ME')
		+button-stroke('CLICK ME', true)
	+button-big('перейти к оплате')
