include ../button/button.pug
include ../button-border/button-border.pug
include ../button-stroke/button-stroke.pug
include ../button-big/button-big.pug
include ../title-third-lvl/title-third-lvl.pug

.buttons
	+title-third-lvl({title: 'buttons'})
	.buttons__row
		+button({title: 'CLICK ME', focus: false})
		+button({title: 'CLICK ME', focus: true})
	.buttons__row
		+button-border({title: 'CLICK ME', focus: false})
		+button-border({title: 'CLICK ME', focus: true})
	.buttons__row.buttons__row_width
		+button-stroke({title: 'CLICK ME', focus: false})
		+button-stroke({title: 'CLICK ME', focus: true})
	+button-big({title: 'перейти к оплате'})
