mixin like-button(num, checked)

	div.like-button
		label.like-button__label
			input(type='checkbox' checked=checked).like-button__input
			span.like-button__box
			span.like-button__heart
			span.like-button__heart-small
			span.like-button__number #{num}
