.like-button {
  width: 40px;
  height: 20px;
  margin-right: 10px;
}

.like-button__label {
  position: relative;
  padding-left: 50px;
  display: block;

  & input[type="checkbox"]:checked ~ .like-button__heart {
    display: block;
  }

  & input[type="checkbox"]:checked ~ .like-button__heart-small {
    display: none;
  }

  & input[type="checkbox"]:checked ~ .like-button__box {
    border: 1px solid $purple;
  }

  & input[type="checkbox"]:checked ~ .like-button__number {
    color: $purple;
  }

}

.like-button__heart {
  position: absolute;
  width: 10px;
  height: 8px;
  left: 7px;
  top: 6px;
  display: none;
  background-image: url("/img/favorite.svg");
}

.like-button__heart-small {
  position: absolute;
  width: 10px;
  height: 8px;
  left: 7px;
  top: 6px;
  
  background-image: url("/img/favorite-border.svg");
  
}

.like-button__box {
  position: absolute;
  content: '';
  width: 40px;
  height: 20px;
  left: 0px;
  top: 0px;
  border: 1px solid $darkShade25;
  box-sizing: border-box;
  border-radius: 10px;
}

.like-button__number {
  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: $darkShade25;
  position: absolute;
  left: 20px;
  top: 4px;
}

.like-button__input {
  @include visually-hidden;
}
