.main-registration {
  background-image: url("/img/bg-reg.jpg");
  background-repeat: no-repeat;
  background-position: 50% -7rem;
  background-size: 100% 77rem;
}

.main-registration__content {
  @include container;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  min-height: 70.2rem;
  padding-right: 1.5rem;
}

.main-registration__modal {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
}

