.main-registration {
  background-image: url("/img/bg-reg.jpg");
  background-repeat: no-repeat;
  background-position: 50% -70px;
  background-size: 100% 770px;
}

.main-registration__content {
  @include container;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  min-height: 702px;
  padding-right: 15px;
}

.main-registration__modal {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

