.header {
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  position: relative;
  z-index: 1;
}

.header__wrapper {
  @include content();
  min-width: 320px;
  display: flex;
  align-items: center;
  min-height: 70px;
}

@media(max-width: $desktopWidth) {
  .header__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .main-nav {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media(max-width: $exSmTabletWidth) {
  .header__wrapper {
    flex-direction: column;
    align-items: center;
  }
}