include ../main-nav/main-nav.pug
include ../logo/logo.pug

mixin header(parameters)
	- const { items, user, ui } = parameters

	header.header
		.header__wrapper
			.header__logo
				+logo()
			.header__nav
				+main-nav({items: items, user: user, ui: ui})


