include ../main-nav/main-nav.pug

mixin header(parameters)
	- var items = parameters.items
	- var user = parameters.user
	- var ui = parameters.ui

	header.header
		.header__wrapper
			.header__logo
				include ../logo/logo.pug
			.header__nav
				+main-nav({items: items, user: user, ui: ui})


