.form-email {
  background: #FFFFFF;
  position: relative;
  width: 100%;
}

.form-email__label {
  @include fontH3();
  margin: 0;
  display: block;
}

.form-email__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 2%;
}

.form-email__input {
  border: 1px solid $darkShade25;
  border-radius: 4px;
  @include textNormal75();
  padding: 3.5%;
  padding-left: 5%;
  padding-right: 15%;
  width: 100%;

  &::placeholder {
    @include textNormal75();
    color: $darkShade25;
  }

  &:hover, &:focus, &:active {
    border-color: $darkShade50;
  }
}

.form-email__button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 44px;
  height: 44px;
  background: none;
  background-image: url("/img/arrow-forward.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
}
