mixin form-email(parameters)
	- const { title } = parameters

	form.form-email
		label.form-email__label
			span.form-email__title #{title}
			input(type="email" placeholder="Email").form-email__input
		button(type="submit").form-email__button
