.form-email {
  position: relative;
  width: 260px;
}

.form-email__label {
  position: relative;
  @include fontH3();
  margin: 0;
  display: block;
  border: 1px solid transparent;
}

.form-email__top {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.form-email__input {
  height: 44px;
  background: #FFFFFF;
  border: 1px solid $darkShade25;
  border-radius: 4px;
  @include textNormal75();
  padding: 13px 15px;
  width: 260px;
  padding-right: 40px;

  &::placeholder {
    @include textNormal75();
    color: $darkShade25;
  }

  &:hover, &:focus, &:active {
    border-color: $darkShade50;
  }
}

.form-email__button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 44px;
  height: 44px;
  background: none;
  background-image: url("/img/arrow-forward.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
}
