include ../like-button/like-button.pug
mixin review(link, title, text, review, likes, liked)
	.review
		.review__user
			p.review__img-wrapper
				img(src=link)
			.review__wrapper
				p.review__title #{title}
				p.review__text #{text}
		.review__wrap
			+like-button(likes, liked)
			p.review__review #{review}
