.text-field {
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $darkShade100;
  margin: 0;
  display: block;
  border: 1px solid transparent;
}

.text-field__top {
  display: flex;
  justify-content: space-between;
  width: 320px;
  margin: 5px 0;
}

.text-field__status {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
  color: $darkShade50;
}

.text-field__input {
  width: 320px;
  height: 44px;

  background: #FFFFFF;
  border: 1px solid $darkShade25;
  border-radius: 4px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $darkShade75;
  padding: 13px 15px;

  &::placeholder {
    font-family: $mainFont;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $darkShade25;
  }

  &:hover, &:focus, &:active {
    border-color: $darkShade50;
  }
  &--small {
    width: 267px;
    padding-right: 40px;
  }
}

.text-field__active {
  border-color: $darkShade50;
}

.text-field__button {
  position: absolute;
  left: 225px;
  top: 25px;
  width: 44px;
  height: 44px;
  background: none;
  background-image: url("/img/arrow-forward.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
}
