include ../toggle/toggle.pug
include ../title-third-lvl/title-third-lvl.pug

mixin toggles()
	.toggles
		+title-third-lvl({title: 'Toggle'})
		ul.toggles__list
			li.toggles__item
				+toggle({text: 'Получать спецпредложения', checked: true})
			li.toggles__item
				+toggle({text: 'Получать спецпредложения', checked: false})
