include ../toggle/toggle.pug
include ../title-third-lvl/title-third-lvl.pug
.toggles
	+title-third-lvl({title: 'Toggle'})
	+toggle({text: 'Получать спецпредложения', checked: true})
	+toggle({text: 'Получать спецпредложения', checked: false})
