mixin socials()
	ul.socials
		li.socials__item
			a(href="#nowhere" target="_blank").socials__link.socials__link_twitter
		li.socials__item
			a(href="#nowhere" target="_blank").socials__link.socials__link_facebook
		li.socials__item
			a(href="#nowhere" target="_blank").socials__link.socials__link_insta