ul.socials
	li.socials__item
		a(href="#nowhere" target="_blank").socials__link.socials__link--twitter
	li.socials__item
		a(href="#nowhere" target="_blank").socials__link.socials__link--facebook
	li.socials__item
		a(href="#nowhere" target="_blank").socials__link.socials__link--insta