.socials {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

.socials__item {
  margin-right: 2rem;

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;

  &_twitter {
    background-image: url('/img/twitter.svg');
    background-repeat: no-repeat;
  }

  &_facebook {
    background-image: url('/img/facebook.svg');
    background-repeat: no-repeat;
  }

  &_insta {
    background-image: url('/img/insta.svg');
    background-repeat: no-repeat;
  }
}