.button {
  @include fontH3;
  cursor: pointer;
  color: #FFFFFF;

  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  padding: 15px 20px;
  display: inline-block;

  &:active,
  &:focus {
    opacity: 0.5;
  }

  &_focus {
    opacity: 0.5;
  }
}