.main-search-room {
  @include content();
  display: flex;
}

.main-search-room__title {
  @include fontH1;
  margin-left: 0.7rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin-right: auto;
  letter-spacing: 0.07rem;
}

.main-search-room__filter {
  width: 89%;
  padding-top: 2.9rem;
}

.main-search-room__rooms {
  margin-left: 4.2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7.3rem;
}

.main-search-room__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  margin-left: 0.8rem;

}

.main-search-room__item {
  margin-bottom: 1.7rem;
}

.main-search-room__pagination {
  margin-top: 0.8rem;
  margin-right: 0.7rem;
}

.main-search-room__dropdown {
  margin-top: 1.8rem;
  margin-bottom: 3.1rem;
}

.main-search-room__checkbox-buttons {
  width: 90%;
  margin-top: 2.9rem;
  margin-bottom: 3.1rem;
}

.main-search-room__dropdown-bottom {
  margin-top: 2.2rem;
  margin-bottom: 2.3rem;
}

@media(max-width: $smTabletWidth) {
  .main-search-room {
    flex-wrap: wrap;
    justify-content: center;
  }
}
