include  ../../variables/variables.pug
include ../card-hotel/card-hotel.pug
include ../components/dropdown-date/dropdown-date.pug
include ../filter-dropdown-date/filter-dropdown-date.pug
include ../components/dropdown/dropdown.pug
include ../dropdown-buttons/dropdown-buttons.pug
include ../components/range/range.pug
include ../checkbox-buttons/checkbox-buttons.pug
include ../checkbox-list/checkbox-list.pug

main.main-search-room
	section.main-search-room__filter
		+filterDropdownDate('19 авг - 23 авг', 'даты пребывания в отеле')
		.main-search-room__dropdown
			+dropdownButtons({title: 'Dropdown', status: 'default', values: dropdownFE, id: 'drop-1'})
		+range('диапазон цены', '5 000₽ - 10 000₽', 'Стоимость за сутки пребывания в номере ')
		.main-search-room__checkbox-buttons
			+checkbox-buttons('Checkbox Buttons', checkboxButtons)
		+checkbox-buttons('доступность', richCheckboxButtons)
		.main-search-room__dropdown-bottom
			+dropdownJS('2 спальни, 2 кровати...', 'удобства номера', '', dropdownFE2, 'drop-search2')
		+checkbox-list(false, checkboxList, 'дополнительные удобства')

	section.main-search-room__rooms
		p.main-search-room__title Номера, которые мы для вас подобрали
		.main-search-room__list
			each val in hotels
				.main-search-room__item
					+card-hotel(val)
		.main-search-room__pagination
			include ../components/pagination/pagination.pug
