.main-search-room {
  @include container;
  display: flex;
  padding-bottom: 71px;
}
.main-search-room__title {
  @include fontH1;
  margin-left: 7px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: auto;
  letter-spacing: 0.7px;
}

.main-search-room__filter {
  width: 300px;
  padding-top: 24px;
}

.main-search-room__rooms {
  //margin-left: 50px;
  margin-left: 4.2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-search-room__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  margin-left: 8px;

}

.main-search-room__item {
  margin-bottom: 18px;
}

.main-search-room__pagination {
  margin-top: 8px;
  margin-right: 7px;
}

.main-search-room__corrector {
  margin-top: 14px;
  margin-bottom: 29px;

  &--2 {
    margin-top: 29px;
    margin-bottom: 28px;
  }

  &--3 {
    margin-top: 22px;
    margin-bottom: 23px;
  }
}

@media(max-width: $smTabletWidth) {
  .main-search-room {
    flex-wrap: wrap;
    justify-content: center;
  }
}
