include ../components/text-field/text-field.pug
include ../components/button-big/button-big.pug
include ../components/button-border/button-border.pug

section.card-enter
	p.card-enter__title Войти
	+textField('email', 'Email', '', '', '')
	.card-enter__corrector.card-enter__corrector--1
		+textField('password', 'Пароль', '', '', '')
	+button-big('войти')
	.card-enter__corrector.card-enter__corrector--2
		p.card-enter__text Нет аккаунта на Toxin?
		+button-border('создать')