.card-enter {
  width: 380px;
  min-height: 358px;

  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-top: 40px;
  padding-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.card-enter__title {
  @include cardTitleFont;
  margin: 0;
  max-width: 320px;
  width: 100%;
  margin-bottom: 18px;
}

.card-enter__text {
  @include textNormal50;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.card-enter__text-field {
  display: flex;
  max-width: 320px;
  width: 100%;
  justify-content: space-between;

  margin-bottom: 18px;
  margin-top: 8px;
}

.card-enter__bottom {
  display: flex;
  max-width: 320px;
  width: 100%;
  justify-content: space-between;

  margin-top: 30px;
}

@media (max-width: $smPhoneWidth) {
  .card-enter {
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
