include ../components/text-field/text-field.pug
include ../components/button-big/button-big.pug
include ../components/button-border/button-border.pug

form.card-enter
	p.card-enter__title Войти
	+textField('email', 'Email', '', '', '')
	.card-enter__text-field
		+textField('password', 'Пароль', '', '', '')
	+button-big('войти')
	.card-enter__bottom
		p.card-enter__text Нет аккаунта на Toxin?
		+button-border('создать')