.card-enter {
  width: 38rem;

  background: #FFFFFF;
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem;
  padding: 10.5% 7.5% 7.5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.card-enter__title {
  @include cardTitleFont;
  margin: 0;
  width: 100%;
  margin-bottom: 6%;
}

.card-enter__text {
  @include textNormal50;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.card-enter__text-field {
  display: flex;
  width: 100%;
  justify-content: space-between;

  margin-bottom: 6.5%;
  margin-top: 3.2%;
}

.card-enter__bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;

  margin-top: 9.5%;
}

@media (max-width: $smPhoneWidth) {
  .card-enter {
    width: 300px;
  }
}
