mixin range(parameters)
	- const { title, text, description, id } = parameters

	.range
		p.range__wrapper
			label(for="amount").range__title #{title}
			input(type="text" id="amount" readonly).range__input
		div(id=id)
		p.range__description #{description ? description : ''}
