
.range__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 2.1rem;
}

.range__input {
  @include rangeInputFont;
  text-align: right;
  text-transform: uppercase;
  border: none;
  padding: 0;
  width: 11rem;
}

.range__description {
  @include rangeInputFont;
  margin: 1.5rem 0;
}

.range__title {
  @include  fontH3;
}

.ui-slider {
  position: relative;
  width: 100%;
  height: 0.6rem;
  background: #FFFFFF;
  border: 0.1rem solid $darkShade25;
  box-sizing: border-box;
  border-radius: 0.3rem;
}

.ui-slider-range {
  position: absolute;
  height: 100%;
  top: 0;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.ui-slider-handle {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  left: 0;
  top: -0.5rem;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 0.2rem solid #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
}