include ../title-3lvl/title-3lvl.pug

mixin bullet-list(title, values)
	.bullet-list
		if title === 'bullet list'
			+title-3lvl(title)
		else
			h3.bullet-list__title #{title}
		ul
			each val in values
				li.bullet-list__item #{val}