@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

@import "../../blocks/square/square";
@import "../../blocks/text-field/text-field";
@import "../../blocks/dropdown/dropdown";
@import "../../blocks/checkbox/checkbox";
@import "../../blocks/self-element/self-element";
@import "../../blocks/radio/radio";
@import "../../blocks/toggle/toggle";
@import "../../blocks/title-third-lvl/title-third-lvl";
@import "../../blocks/like-button/like-button";
@import "../../blocks/rate-button/rate-button";
@import "../../blocks/bullet-list/bullet-list";
@import "../../blocks/review/review";
@import "../../blocks/range/range";
@import "../../blocks/pagination/pagination";
@import "../../blocks/button/button";
@import "../../blocks/button-border/button-border";
@import "../../blocks/button-stroke/button-stroke";
@import "../../blocks/button-big/button-big";
@import "../../blocks/line/line";
@import "../../blocks/logo/logo";
@import "../../blocks/circle/circle";

@import "../../blocks/colors-type-page/colors-type-page";
@import "../../blocks/main-colors-type/main-colors-type";
@import "../../blocks/type/type";
@import "../../blocks/checkbox-list/checkbox-list";
@import "../../blocks/checkbox-buttons/checkbox-buttons";
@import "../../blocks/like-buttons/like-buttons";
@import "../../blocks/rate-buttons/rate-buttons";
@import "../../blocks/buttons/buttons";
@import "../../blocks/card-registration/card-registration";
@import "../../blocks/card-enter/card-enter";
@import "../../blocks/card-reserve/card-reserve";
@import "../../blocks/card-hotel/card-hotel";
@import "../../blocks/card-calendar/card-calendar";
@import "../../blocks/footer/footer";
@import "../../blocks/footer-ui/footer-ui";
@import "../../blocks/footer-ui-simple/footer-ui-simple";
@import "../../blocks/socials/socials";
@import "../../blocks/main-hf/main-hf";
@import "../../blocks/main-search-room/main-search-room";
@import "../../blocks/main-registration/main-registration";
@import "../../blocks/main-room-details/main-room-details";
@import "../../blocks/header/header";
@import "../../blocks/main-nav/main-nav";
@import "../../blocks/main-page/main-page";
@import "../../blocks/main-cards/main-cards";
@import "../../blocks/main-form-elements/main-form-elements";
@import "../../blocks/card-find/card-find";
@import "../../blocks/main-sign-in/main-sign-in";
@import "../../blocks/form-email/form-email";
@import "../../blocks/toggles/toggles";
@import "../../blocks/room-information/room-information";
@import "../../blocks/room-impressions/room-impressions";
@import "../../blocks/reviews/reviews";
@import "../../blocks/cancellation/cancellation";
@import "../../blocks/filter-dropdown-date/filter-dropdown-date";
@import "../../blocks/group-dropdown-date/group-dropdown-date";
@import "../../blocks/dropdown-buttons/dropdown-buttons";

body {
  margin: 0 auto;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  color: $mainFontColor;
  line-height: 24px;
  min-width: 320px;
}

*, *:before, *:after { box-sizing: border-box; }

a { text-decoration: none; }
