@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

@import "../../blocks/colors-type-page/colors-type-page";
@import "../../blocks/main-colors-type/main-colors-type";
@import "../../blocks/square/square";
@import "../../blocks/type/type";
@import "../../blocks/checkbox/checkbox";
@import "../../blocks/checkbox-list/checkbox-list";
@import "../../blocks/self-element/self-element";
@import "../../blocks/checkbox-buttons/checkbox-buttons";
@import "../../blocks/radio/radio";

@import "../../blocks/header/header";
@import "../../blocks/logo/logo";
@import "../../blocks/main-nav/main-nav";
@import "../../blocks/user-nav/user-nav";
@import "../../blocks/main-page/main-page";
@import "../../blocks/main-cards/main-cards";
@import "../../blocks/main-form-elements/main-form-elements";
@import "../../blocks/card-find/card-find";
@import "../../blocks/text-field/text-field";
@import "../../blocks/dropdown/dropdown";

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  color: $mainFontColor;
  line-height: 24px;
}

*, *:before, *:after { box-sizing: border-box; }

a { text-decoration: none; }
