@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

@import "../../blocks/colors-type-page/colors-type-page";
@import "../../blocks/main-colors-type/main-colors-type";
@import "../../blocks/components/square/square";
@import "../../blocks/type/type";
@import "../../blocks/components/checkbox/checkbox";
@import "../../blocks/checkbox-list/checkbox-list";
@import "../../blocks/components/self-element/self-element";
@import "../../blocks/checkbox-buttons/checkbox-buttons";
@import "../../blocks/components/radio/radio";
@import "../../blocks/components/toggle/toggle";
@import "../../blocks/components/title-3lvl/title-3lvl";
@import "../../blocks/components/like-button/like-button";
@import "../../blocks/like-buttons/like-buttons";
@import "../../blocks/components/rate-button/rate-button";
@import "../../blocks/rate-buttons/rate-buttons";
@import "../../blocks/components/bullet-list/bullet-list";
@import "../../blocks/components/review/review";
@import "../../blocks/components/range/range";
@import "../../blocks/components/pagination/pagination";
@import "../../blocks/components/button/button";
@import "../../blocks/components/button-border/button-border";
@import "../../blocks/components/button-stroke/button-stroke";
@import "../../blocks/components/button-big/button-big";
@import "../../blocks/buttons/buttons";
@import "../../blocks/card-registration/card-registration";
@import "../../blocks/card-enter/card-enter";
@import "../../blocks/card-reserve/card-reserve";
@import "../../blocks/card-hotel/card-hotel";
@import "../../blocks/card-calendar/card-calendar";
@import "../../blocks/footer-ui/footer-ui";
@import "../../blocks/footer/footer";
@import "../../blocks/footer-ui-simple/footer-ui-simple";
@import "../../blocks/socials/socials";
@import "../../blocks/main-hf/main-hf";
@import "../../blocks/main-search-room/main-search-room";
@import "../../blocks/components/dropdown-date/dropdown-date";

@import "../../blocks/header/header";
@import "../../blocks/components/logo/logo";
@import "../../blocks/main-nav/main-nav";
@import "../../blocks/main-page/main-page";
@import "../../blocks/main-cards/main-cards";
@import "../../blocks/main-form-elements/main-form-elements";
@import "../../blocks/card-find/card-find";
@import "../../blocks/components/text-field/text-field";
@import "../../blocks/components/dropdown/dropdown";
@import "../../blocks/form-email/form-email";

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  color: $mainFontColor;
  line-height: 24px;
}

*, *:before, *:after { box-sizing: border-box; }

a { text-decoration: none; }

button { cursor: pointer; }
