// Font
$mainFont: 'Montserrat', Helvetica, Arial, sans-serif;
$secondFont: 'Quicksand', Helvetica, Arial, sans-serif;
$mainFontLineHeight: 2.4rem;
$mainFontColor: rgba(31, 32, 65, 0.5);
$mainFontSize: 1.4rem;
$mainFontWeight: normal;

$darkShade100: rgba(31, 32, 65, 1);
$darkShade75: rgba(31, 32, 65, 0.75);
$darkShade50: rgba(31, 32, 65, 0.5);
$darkShade25: rgba(31, 32, 65, 0.25);
$darkShade05: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;

// media
$smPhoneWidth: 410px;
$phoneWidth: 480px;
$exSmTabletWidth: 600px;
$exSmTabletWidth2: 660px;
$smTabletWidth: 800px;
$tabletWidth: 980px;
$smDesktopWidth: 1040px;
$desktopWidth: 1220px;

// min-width component
$minWidthComponent: 27rem;
