.dropdown
	h2.dropdown__title Сколько гостей
	ul
		li.dropdown__option
			p.dropdown__text Спальни
			.dropdown__buttons
				button.dropdown__button -
				span.dropdown__numeric 2
				button.dropdown__button +
		li.dropdown__option Чебурашка
		li.dropdown__option Чебурашка
		li.dropdown__option Чебурашка
