.main-colors-type {
  background-image: url('/img/logo-gray.svg');
  background-repeat: no-repeat;
  background-position: 3rem 3rem;
  padding: 0 1rem;
  border-top: 0.1rem solid transparent;
  @include container();
}

.main-colors-type__content {
  display: flex;
  flex-direction: row;
  max-width: 114rem;
  margin: 0 auto;
  margin-top: 14.5rem;
}

.main-colors-type__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-colors-type__right {
  width: 44.5rem;
  margin-left: auto;
}

.main-colors-type__item {
  margin-bottom: 2rem;
}

@media (max-width: 768px) {

  .main-colors-type__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-colors-type__right {
    width: auto;
    margin: 0 auto;
    margin-top: 5rem;
  }
}