include ../square/square.pug

main.main-colors-type

	.main-colors-type__content
		section.main-colors-type__left
			+square({color: '#1F2041', text: 'Dark Shade 100%', opacity: 1})
			+square({color: '#1F2041', text: 'Dark Shade 75%', opacity: 0.75})
			+square({color: '#1F2041', text: 'Dark Shade 50%', opacity: 0.5})
			+square({color: '#1F2041', text: 'Dark Shade 25%', opacity: 0.25})
			+square({color: '#1F2041', text: 'Dark Shade 5%', opacity: 0.05})
			+square({color: '#BC9CFF', text: 'Purple', opacity: 1})
			+square({color: '#6FCF97', text: 'Green', opacity: 1})
		section.main-colors-type__right
			include ../type/type.pug
