.main-colors-type {
  background-image: url('/img/logo-gray.svg');
  background-repeat: no-repeat;
  background-position: 10px 30px;
  //padding: 140px;
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
  border-top: 1px solid transparent;
  min-width: 320px;
}


.main-colors-type__content {
  display: flex;
  flex-direction: row;
  max-width: 1180px;
  margin: 0 auto;
  margin-top: 145px;
}

.main-colors-type__right {
  width: 486px;
  margin-left: auto;
}


@media (max-width: 768px) {
  .main-colors-type {

  }

  .main-colors-type__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-colors-type__right {
    width: auto;
    margin: 0 auto;
    margin-top: 50px;
  }
}