.main-colors-type {
  background-image: url('/img/logo-gray.svg');
  background-repeat: no-repeat;
  background-position: 30px 30px;
  padding: 0 10px;
  border-top: 1px solid transparent;
  @include container();
}

.main-colors-type__content {
  display: flex;
  flex-direction: row;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 145px;
}

.main-colors-type__right {
  width: 445px;
  margin-left: auto;
}

@media (max-width: 768px) {
  .main-colors-type {
  }

  .main-colors-type__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-colors-type__right {
    width: auto;
    margin: 0 auto;
    margin-top: 50px;
  }
}