mixin group-dropdown-date(parameters)
	-var titleLeft = parameters.titleLeft
	-var titleRight = parameters.titleRight
	-var placeholder = parameters.placeholder

	.group-dropdown-date
		div.group-dropdown-date__wrapper
			if titleLeft
				p.group-dropdown-date__title #{titleLeft}
			input(type="text" placeholder=placeholder readonly).group-dropdown-date__input.js-group-dropdown-date__input_left

		div.group-dropdown-date__wrapper
			if titleRight
				p.group-dropdown-date__title #{titleRight}
			input(type="text" placeholder=placeholder readonly).group-dropdown-date__input.js-group-dropdown-date__input_right
		.group-dropdown-date__calendar
			include ../card-calendar/card-calendar.pug
