

mixin checkbox(title, text, checked, width)

	div(style='width: ' + width + 'px').checkbox
		label.checkbox__label
			input(type='checkbox' checked=checked).checkbox__input
			span.checkbox__box
			span.checkbox__arrow
			p.checkbox__title #{title}
			p.checkbox__text #{text}

