include ../checkbox/checkbox.pug

mixin checkbox-list(open, values)
	.checkbox-list
		-var opened = open ? 'checkbox-list__tittle--open '  : 'checkbox-list__tittle--close '
		button(class=opened).checkbox-list__tittle expandable checkbox list
		if(open)
			ul.checkbox-list__list
				each val in values
					li.checkbox-list__item
						+checkbox(val.title, val.text, val.checked, val.width)