include ../checkbox/checkbox.pug

mixin checkbox-list(parameters)
	- var open = parameters.open
	- var values = parameters.values
	- var title = parameters.title

	.checkbox-list
		-var opened = open ? 'checkbox-list__tittle_open '  : 'checkbox-list__tittle_close '
		button(class=opened).checkbox-list__tittle #{title}
		if(open)
			ul.checkbox-list__list
				each val in values
					li.checkbox-list__item
						+checkbox({title: val.title, text: val.text, checked: val.checked, size: val.width})
