include ../checkbox/checkbox.pug

mixin checkbox-list(parameters)
	- var id = parameters.id
	- var values = parameters.values
	- var title = parameters.title

	div(id=id).checkbox-list
		button(type="button").checkbox-list__title.js-checkbox-list__title.checkbox-list__title_close #{title}
		ul.checkbox-list__list.js-checkbox-list__list
			each val in values
				li.checkbox-list__item
					+checkbox({title: val.title, text: val.text, checked: val.checked, size: val.width})
