include ../checkbox/checkbox.pug

mixin checkbox-list(parameters)
	- const { values, title } = parameters

	.checkbox-list.js-checkbox-list
		button(type="button").checkbox-list__title.js-checkbox-list__title.checkbox-list__title_close #{title}
		ul.checkbox-list__list.js-checkbox-list__list
			each val in values
				li.checkbox-list__item
					+checkbox({title: val.title, text: val.text, checked: val.checked, size: val.width})
