.checkbox-list {
  width: 268px;
}

.checkbox-list__tittle {
  @include fontH3;
  border: none;
  background: transparent;
  position: relative;
  width: 100%;
  text-align: left;
  padding: 0;
  margin-bottom: 12px;

  &--close {

    &:before {
      content: '';
      width: 20px;
      height: 10px;
      position: absolute;
      left: 235px;
      top: 3px;
      background-image: url("/img/expand-more.svg");
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &--open {

    &:after {
      content: '';
      width: 20px;
      height: 10px;
      position: absolute;
      left: 235px;
      top: 4px;
      background-image: url("/img/expand-more.svg");
      background-repeat: no-repeat;
      background-position: center center;
      transform: rotate(180deg);
    }
  }
}

.checkbox-list__list {
  list-style: none;
  padding: 0;
  margin: 0;
}