include ../bullet-list/bullet-list.pug
include ../../variables/variables.pug

main.main-room-details
	.main-room-details__bg
	.main-room-details__container
		.main-room-details__content
			.main-room-details__wrapper
				include ../room-information/room-information.pug
				.main-room-details__impressions
					include ../room-impressions/room-impressions.pug
			.main-room-details__reviews
				include ../reviews/reviews.pug
			.main-room-details__wrapper
				+bullet-list({title: 'Правила', values: bulletList})
				.main-room-details__cancellation
					include ../cancellation/cancellation.pug
		.main-room-details__modal
			include ../card-reserve/card-reserve.pug
