include ../bullet-list/bullet-list.pug
include ../../variables/variables.pug
include ../room-information/room-information.pug
include ../room-impressions/room-impressions.pug
include ../reviews/reviews.pug
include ../cancellation/cancellation.pug
include ../card-reserve/card-reserve.pug

mixin main-room-details()
	main.main-room-details
		.main-room-details__bg
		.main-room-details__container
			.main-room-details__content
				.main-room-details__wrapper
					.main-room-details__room-information
						+room-information()
					.main-room-details__impressions
						+room-impressions()
				.main-room-details__reviews
					+reviews()
				.main-room-details__wrapper
					.main-room-details__bullet-list
						+bullet-list({title: 'Правила', values: bulletList})
					.main-room-details__cancellation
						+cancellation()
			.main-room-details__modal
				+card-reserve()
