
.main-room-details__bg {
  height: 48.5rem;
  background-image: url("/img/bg-details-all.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.main-room-details__container {
  @include content();
  display: flex;
  margin: 4.8% auto 4.2%;
}

.main-room-details__wrapper {
  display: flex;
}

.main-room-details__room-information {
  width: 39%;
}

.main-room-details__impressions {
  margin-left: auto;
  margin-right: 5.5%;
}

.main-room-details__reviews {
  margin-top: 2.2%;
}

.main-room-details__content {
  margin-right: 6%;
}

.main-room-details__bullet-list {
  width: 37%;
}

.main-room-details__cancellation {
  width: 47%;
  margin-left: 13%;
}

.main-room-details__modal {
  margin-left: auto;
}

@media (max-width: $desktopWidth) {
  .main-room-details__container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .main-room-details__modal {
    margin: 0 auto;
  }

  .main-room-details__content {
    margin: 0 auto;
  }
}

@media (max-width: $exSmTabletWidth2) {
  .main-room-details__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-room-details__room-information {
    width: 100%;
  }

  .main-room-details__impressions {
    margin-left: auto;
    margin-right: auto;
  }

  .main-room-details__bullet-list {
    width: 100%;
    margin: 0 auto;
  }

  .main-room-details__cancellation {
    width: 100%;
    margin: 0 auto;
  }
}