.main-cards {
  background-color: #E5E5E5;
  display: flex;
}

.main-cards__wrapper {
  position: relative;
  max-width: 144rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 15.1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &::before {
    position: absolute;
    content: '';
    top: -12rem;
    left: 3rem;
    width: 4.8rem;
    height: 4.8rem;
    background-image: url('/img/logo-gray.svg');
    background-repeat: no-repeat;
  }
}

.main-cards__container {
  width: 80.5%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-cards__row {
  margin-bottom: 4rem;
}

@media (max-width: $smDesktopWidth) {
  .main-cards__container {
    justify-content: space-around;
    width: 100%
  }
}

@media (max-width: $smTabletWidth) {
  .main-cards__container {
    flex-direction: column;
    align-items: center;
  }

  .main-cards__column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: $phoneWidth) {
  .main-cards__container {
    padding: 0;
    width: 100%;
  }
}