include ../card-hotel/card-hotel.pug

main.main-cards
	.main-cards__wrapper
		.main-cards__container
			.main-cards__column
				include ../card-find/card-find.pug
				.main-cards__corrector
				include ../card-registration/card-registration.pug
			.main-cards__column
				include ../card-reserve/card-reserve.pug
				.main-cards__corrector
				include ../card-enter/card-enter.pug
			.main-cards__column
				include ../card-calendar/card-calendar.pug
				.main-cards__corrector
				+card-hotel(888, true, '9 990₽', 5, 145, ['/img/hotel-1.jpg', '/img/hotel-2.jpg'])
				.main-cards__corrector
				+card-hotel(840, false, '9 900₽', 4, 65, ['/img/hotel-2.jpg', '/img/hotel-1.jpg'])