.reviews {
  margin-top: 15px;
}

.reviews__title {
  @include fontH2;
  margin: 0;
  margin-bottom: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.6px;
}

.reviews__title-text {
  display: inline-block;
  margin-left: auto;
  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-align: right;
  color: rgba(31, 32, 65, 0.5);
}

.reviews__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.reviews__item {
  margin-bottom: 24px;
}