
.reviews__title {
  @include fontH2;
  margin: 0;
  margin-bottom: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.6px;
}

.reviews__title-text {
  display: inline-block;
  margin-left: auto;
  @include textNormal50;
  text-align: right;
}

.reviews__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.reviews__item {
  margin-bottom: 24px;
}