include ../components/review/review.pug

section.reviews
	h3.reviews__title Отзывы посетителей номера
		span 2 отзыва
	ul.reviews__list
		li.reviews__item
			+review('/img/murad.png', 'Мурад Сарафанов', '5 дней назад', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.', 12, true)
		li.reviews__item
			+review('/img/pat.png', 'Патрисия Стёклышкова', 'Неделю назад', 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент', 2)