.dropdown-date {
  background: #FFFFFF;
  border: 1px solid transparent;
  position: relative;
  min-height: 70px;
  max-width: 320px;

  &--medium {
    width: 268px;
  }

  &--small {
    width: 152px;
  }
}

.dropdown-date__button {
  @include textNormal75;
  padding: 10px 15px;
  margin: 0;
  border: 1px solid $darkShade25;
  border-radius: 4px;
  width: 100%;
  height: 44px;
  position: relative;
  z-index: 2;
  background: #ffffff;
  text-align: left;
  cursor: pointer;

  &:before {
    content: '';
    width: 42px;
    height: 42px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url("/img/expand-more.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}