.toggle {
  margin-bottom: 10px;
}

.toggle__label {
  position: relative;
  padding-left: 50px;
  display: block;

  & input[type="checkbox"]:checked ~ .toggle__circle {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    left: 24px;

  }

  & input[type="checkbox"]:checked ~ .toggle__box {
    border: 1px solid $purple;
  }

}

.toggle__circle {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 4px;
  top: 4px;
  border-radius: 50%;
  background: $darkShade25;
}

.toggle__box {
  position: absolute;
  content: '';
  width: 40px;
  height: 20px;
  left: 0px;
  top: 0px;
  border: 1px solid $darkShade25;
  box-sizing: border-box;
  border-radius: 10px;
}

.toggle__input {
  @include visually-hidden;
}

.toggle__text {
  display: inline-block;
  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: $darkShade75;
  margin: 0;
}