include ../components/title-3lvl/title-3lvl.pug
include ../components/rate-button/rate-button.pug

.rate-buttons
	+title-3lvl('rate button')
	.rate-buttons__wrapper
		+rate-button(4)
		+rate-button(5)