mixin rate-button(parameters)
	- const { num } = parameters

	.rate-button
		- let n = 1
		while num >= n
			- n++
			img(src="/img/star.svg" alt="star").rate-button__img


		while num < n && n <= 5
			- n++
			img(src="/img/star-border.svg" alt="star").rate-button__img
