
@mixin size($width,$height: $width) {
  width: $width;
  height: $height;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@mixin container {
  max-width: 1440px;
  margin: 0 auto;
}

@mixin content {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@mixin textNormal75 {
  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: $darkShade75;
}

@mixin textNormal50 {
  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: $darkShade50;
}

@mixin fontH3 {
  font-family: $mainFont;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: $darkShade100;
}

@mixin fontH1 {
  font-family: $secondFont;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 3rem;
  color: $darkShade100;
}

@mixin fontH2 {
  font-family: $secondFont;
  font-style: normal;
  font-weight: bold;
  font-size: 1.9rem;
  line-height: 2.6rem;
  color: $darkShade100;
}

@mixin cardTitleFont {
  font-family: $mainFont;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 3rem;
  color: #1F2041;
  font-weight: 700;
  letter-spacing: -0.03rem;
}

@mixin cardHotelFont {
  font-family: $mainFont;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 700;
  color: #1F2041;
  letter-spacing: -0.03rem;
}

@mixin cardHotelBoldFont {
  font-family: $mainFont;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: $darkShade50;
}

@mixin rangeInputFont {
  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: $darkShade50;
}

@mixin fontBody {
  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 2.4rem;
  color: $darkShade75;
}

@mixin visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}