include ../like-button/like-button.pug
include ../title-third-lvl/title-third-lvl.pug

.like-buttons
	+title-third-lvl({title: 'like button'})
	.like-buttons__wrapper
		+like-button({num: 2, checked: false})
		+like-button({num: 12, checked: true})
