include ../components/like-button/like-button.pug
include ../components/title-3lvl/title-3lvl.pug

.like-buttons
	+title-3lvl('like button')
	.like-buttons__wrapper
		+like-button(2, false)
		+like-button(12, true)