.main-nav {
  display: flex;
}
.main-nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;

  &_ui {
    & .main-nav__item>.main-nav__link {
      margin-right: 2.7rem;
    }

    & + .main-nav__user-list>.main-nav__user-item>.main-nav__user-link:last-child {
      padding-right: 1.9rem;
    }
  }

  &_logged {

    & .main-nav__item:last-child>.main-nav__link {
      margin-right: 3.2rem;
    }
  }
}

.main-nav__link {
  margin-right: 2.1rem;

  &:link {
    color: inherit;
  }

  &_active {
    color: $darkShade75;
    font-weight: bold;
  }
}

.main-nav__link_arrow {
  position: relative;
  padding-right: 2.2rem;

  &::before {
    position: absolute;
    content: '';
    background-image: url("/img/arrow.svg");
    background-repeat: no-repeat;
    width: 2.4rem;
    height: 2.1rem;
    top: 0.7rem;
    right: -0.9rem;
  }
}

.main-nav__user-list {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.main-nav__user-item {
  margin-right: 2rem;

  &:last-child {
    margin-right: 0;
  }
}

.main-nav__user-link {
  @include fontH3;
  color: $purple;
  border: 0.2rem solid $purple;
  border-radius: 2.2rem;
  display: block;
  padding: 0.7rem 1.8rem;
  cursor: pointer;

  &:active {
    opacity: 0.5;
  }

  &_dark {
    background-image: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
    border: none;
    color: #FFFFFF;
    padding: 0.9rem 2.2rem 0.9rem 2.1rem;
    &:active {
      opacity: 0.5;
    }
  }
}

.main-nav__entered {
  margin-top: 1rem;
  height: 3rem;
  padding-left: 3rem;
  display: flex;
  align-items: center;
  @include textNormal50;
  border-left: 0.1rem solid rgba(31, 32, 65, 0.1);
}

@media(max-width: $exSmTabletWidth) {

  .main-nav {
    flex-direction: column;
    margin: 0 auto;
  }

  .main-nav__list,
  .main-nav__user-list{
    flex-direction: column;
    align-items: center;
  }

  .main-nav__link {
    margin: 0;
  }

  .main-nav__user-item {
    margin: 0;
    margin-bottom: 1rem;
  }
}