.main-nav {
  display: flex;
  margin-left: auto;
  //margin-left: 284px;

}
.main-nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.main-nav__link {
  margin-right: 22px;

  &:link {
    color: inherit;
  }

  &--active {
    color: $darkShade75;
    font-weight: bold;
  }
}

.main-nav__link--arrow {
  position: relative;
  padding-right: 22px;

  &::before {
    position: absolute;
    content: '';
    background-image: url("/img/arrow.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 21px;
    top: 7px;
    right: -9px;
  }
}
