
mixin main-nav(parameters)
	- const { items, user, ui } = parameters

	- const classUi = ui ? 'main-nav__list_ui' : ' '
	- const classLogged = (ui && user.logged) ? ' main-nav__list_logged' : ' '
	nav.main-nav
		ul(class=classUi + classLogged).main-nav__list
			each val in items
				- var cls = val.modifier ? ' main-nav__link_arrow ' : ''
				- var clsActive = val.active ? ' main-nav__link_active ' : ''
				li.main-nav__item
					a(href="#nowhwre" class="main-nav__link " + cls + clsActive)
						= val.title
		if !user.logged
			ul.main-nav__user-list
				li.main-nav__user-item
					a(href="#nowhwre").main-nav__user-link #{user.enter}
				li.main-nav__user-item
					a(href="#nowhwre").main-nav__user-link.main-nav__user-link_dark #{user.register}
		else
			a.main-nav__entered #{user.entered}

