mixin menuItem(text, modifier, active)
	- var cls = modifier ? ' main-nav__link--arrow ' : ''
	- var clsActive = active ? ' main-nav__link--active ' : ''
	li.main-nav__item
		a(href='#nowhwre' class='main-nav__link ' + cls + clsActive)
			= text

nav.main-nav
	ul.main-nav__list
		+menuItem('О нас', false, true)
		+menuItem('Услуги', true)
		+menuItem('Вакансии')
		+menuItem('Новости')
		+menuItem('Соглашения', true)
	include ../user-nav/user-nav.pug
