main.main-page
	section.main-page__content
		p.main-page__text Лучшие номера для вашей работы, отдыха и просто вдохновения
		.main-page__modal
			include ../card-find/card-find-calendar.pug
			.main-page__calendar
				include ../card-calendar/card-calendar.pug