.main-page {
  background-image: url("/img/bg-main.jpg");
  background-repeat: no-repeat;
  background-position: 50% -70px;
  background-size: 100% 900px;
}

.main-page__content {
  @include container;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  min-height: 830px;
  padding-right: 15px;
}

.main-page__text {
  text-align: right;
  color: $darkShade75;
  width: 297px;
  margin-bottom: 22px;
}

.main-page__modal {
  position: absolute;
  left: 20px;
  top: 70px;
}

.main-page__calendar {
  position: absolute;
  left: 29px;
  top: 190px;
}
