include ../like-button/like-button.pug

mixin review(parameters)
	- const { link, title, text, review, likes, liked } = parameters

	.review
		.review__user
			p.review__img-wrapper
				img(src=link)
			.review__wrapper
				p.review__title #{title}
				p.review__text #{text}
		.review__wrap
			+like-button({num: likes, checked: liked})
			p.review__review #{review}
