
mixin bullet-list(parameters)
	- const { title, values } =  parameters

	.bullet-list
		if title === 'bullet list'
			p.bullet-list__ui-title #{title}
		else
			h3.bullet-list__title #{title}
		ul.bullet-list__items
			each val in values
				li.bullet-list__item #{val}