.bullet-list {
  flex-shrink: 0;
}

.bullet-list__items {
  padding-left: 2rem;
  width: 100%;
}

.bullet-list__ui-title {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: #1f2041;
  margin-top: 0;
}

.bullet-list__title {
  @include fontH2;
  margin-right: 0;
  margin-top: 1rem;
  padding-left: 2.2rem;
  margin-bottom: 1.6rem;
}

.bullet-list__item {
  @include textNormal75;
  position: relative;
  list-style: none;
  min-height: 3.3rem;

  &::after {
    position: absolute;
    left: -2.1rem;
    top: 0.7rem;
    border-radius: 50%;
    content: '';
    width: 1rem;
    height: 1rem;
    background: $darkShade25;
  }
}