include ../components/dropdown/dropdown.pug
include ../components/button-big/button-big.pug

section.card-reserve
	.card-reserve__row
		h2.card-reserve__title
			span.card-reserve__title-num №
			|888
			span.card-reserve__title-lux люкс
		p.card-reserve__price 9 990₽
			span в сутки
	.card-reserve__row.card-reserve__row--cor-1
		+dropdownDate('прибытие', '', '19.08.2019')
		+dropdownDate('выезд', '', '23.08.2019')
	+dropdown('Гости', '', '3 гостя')
	ul.card-reserve__list
		li.card-reserve__item
			p.card-reserve__item-res 9 990₽ х 4 суток
			p 39 960₽
		li.card-reserve__item
			p.card-reserve__item-res.card-reserve__item-res--info Сбор за услуги: скидка 2 179₽
			p 0₽
		li.card-reserve__item
			p.card-reserve__item-res.card-reserve__item-res--info Сбор за дополнительные услуги
			p 300₽
	p.card-reserve__sum
		span Итого
		span.card-reserve__sum-center
		span 38 081₽
	.card-reserve__row.card-reserve__row--cor-2
		+button-big('забронировать')