.card-reserve {
  position: relative;
  width: 380px;
  min-height: 511px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.card-reserve__title {
  @include cardTitleFont;
  margin: 0;

  &-lux {
    @include fontH3;
    color: $purple;
    margin-left: 5px;

  }

  &-num {
    @include fontH3;
    margin-right: 5px;
  }
}

.card-reserve__price {
  @include cardHotelBoldFont;
  margin: 0;
  margin-top: 10px;
}

.card-reserve__price-text {
  font-weight: normal;
  margin-left: 5px;
  font-size: 12px;
}

.card-reserve__list {
  list-style: none;
  padding-left: 0px;
  margin: 0;
  max-width: 320px;
  width: 100%;
  margin-top: 19px;
  margin-bottom: 10px;
}

.card-reserve__item {
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  width: 100%;
  position: relative;
  margin-bottom: 17px;
  @include cardHotelBoldFont;
  font-weight: normal;
  color: $darkShade75;
}

.card-reserve__item-price {
  margin:0;
}

.card-reserve__item-res {
  position: relative;
  width: 214px;
  margin: 0;

  &_info {
    &:before {
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      left: 220px;
      top: 0;
      background-image: url("/img/info.svg");
      background-repeat: no-repeat;
    }
  }
}

.card-reserve__sum {
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  width: 100%;
  margin: 0;

  @include fontH2;

  &-center {
    flex-grow: 1;
    border-bottom: 1px dotted $darkShade25;
    margin: 5px;
  }
}

.card-reserve__group-dropdown-date {
  display: flex;
  max-width: 320px;
  width: 100%;
  justify-content: space-between;

  margin-top: 14px;
  margin-bottom: 13px;
}

.card-reserve__button-big {
  display: flex;
  max-width: 320px;
  width: 100%;
  justify-content: space-between;

  margin-top: 20px;
}

.card-reserve__header {
  display: flex;
  max-width: 320px;
  width: 100%;
  justify-content: space-between;
}


@media (max-width: $smPhoneWidth) {
  .card-reserve {
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
  }
}