.card-reserve {
  position: relative;
  width: 38rem;
  background: #FFFFFF;
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem;
  padding: 10.5% 7.5% 7.5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.card-reserve__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2%;
}

.card-reserve__title {
  @include cardTitleFont;
  margin: 0;

  &-lux {
    @include fontH3;
    color: $purple;
    margin-left: 0.5rem;
  }

  &-num {
    @include fontH3;
    margin-right: 0.5rem;
  }
}

.card-reserve__price {
  @include cardHotelBoldFont;
  line-height: 3.8rem;
  margin: 0;
}

.card-reserve__price-text {
  font-weight: normal;
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

.card-reserve__group-dropdown-date {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 6%;
}

.card-reserve__dropdown-buttons {
  width: 100%;
  margin-bottom: 6%;
}
.card-reserve__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  width: 100%;
  margin-bottom: 3.5%;
}

.card-reserve__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  margin-bottom: 1.7rem;
  @include cardHotelBoldFont;
  font-weight: normal;
  color: $darkShade75;
}

.card-reserve__item-price {
  margin:0;
}

.card-reserve__item-res {
  position: relative;
  width: 70%;
  margin: 0;

  &_info {
    &:before {
      content: '';
      width: 2rem;
      height: 2rem;
      position: absolute;
      right: -7%;
      top: 0;
      background-image: url("/img/info.svg");
      background-repeat: no-repeat;
    }
  }
}

.card-reserve__sum {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;

  @include fontH2;

  &-center {
    flex-grow: 1;
    border-bottom: 0.1rem dotted $darkShade25;
    margin: 2%;
  }
}

.card-reserve__button-big {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 6%;
}

@media (max-width: $smPhoneWidth) {
  .card-reserve {
    width: 30rem;
  }
}