.filter-dropdown-date {
  background: #FFFFFF;
  position: relative;
  width: 100%;
}

.filter-dropdown-date__input {
  display: block;
  @include textNormal75;
  padding: 3.5% 5%;
  margin: 0;
  border: 1px solid $darkShade25;
  border-radius: 0.4rem;
  width: 100%;
  text-align: left;
  cursor: pointer;

  background-image: url("/img/expand-more.svg");
  background-repeat: no-repeat;
  background-position: 95% center;
}

.filter-dropdown__title {
  width: 100%;
  margin: 0;
  margin-bottom: 2%;
  @include fontH3;
}

.filter-dropdown-date__calendar {
  position: absolute;
  z-index: 1;
}