.filter-dropdown-date {
  background: #FFFFFF;
  border: 1px solid transparent;
  position: relative;
  min-height: 70px;
  width: 268px;
  z-index: 4;
}

.filter-dropdown-date__input {
  display: block;
  @include textNormal75;
  padding: 10px 15px;
  margin: 0;
  border: 1px solid $darkShade25;
  border-radius: 4px;
  width: 100%;
  height: 44px;
  position: relative;
  z-index: 2;
  background: #ffffff;
  text-align: left;
  cursor: pointer;

  background-image: url("/img/expand-more.svg");
  background-repeat: no-repeat;
  background-position: 238px center;
}

.filter-dropdown__top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5px 0;
  @include fontH3;
}

.filter-dropdown-date__calendar {
  position: absolute;
  z-index: 3;
}