block variables
	-
		var hotels = [
			{number: 888, lux: true, price: '9 990₽', stars: 5, reviews: 145, images: ['/img/hotel-1.jpg', '/img/hotel-2.jpg']},
			{number: 840, lux: false, price: '9 900₽', stars: 4, reviews: 65, images: ['/img/hotel-2.jpg', '/img/hotel-1.jpg']},
			{number: 980, lux: true, price: '8 500₽', stars: 3, reviews: 35, images: ['/img/hotel-3.jpg', '/img/hotel-2.jpg']},
			{number: 856, lux: false, price: '7 300₽', stars: 5, reviews: 19, images: ['/img/hotel-4.jpg', '/img/hotel-2.jpg']},
			{number: 740, lux: false, price: '6 000₽', stars: 4, reviews: 44, images: ['/img/hotel-5.jpg', '/img/hotel-2.jpg']},
			{number: 982, lux: false, price: '5 800₽', stars: 3, reviews: 56, images: ['/img/hotel-6.jpg', '/img/hotel-2.jpg']},
			{number: 678, lux: false, price: '5 500₽', stars: 5, reviews: 45, images: ['/img/hotel-7.jpg', '/img/hotel-2.jpg']},
			{number: 450, lux: false, price: '5 300₽', stars: 4, reviews: 39, images: ['/img/hotel-8.jpg', '/img/hotel-2.jpg']},
			{number: 350, lux: false, price: '5 000₽', stars: 3, reviews: 77, images: ['/img/hotel-9.jpg', '/img/hotel-2.jpg']},
			{number: 666, lux: false, price: '5 000₽', stars: 5, reviews: 25, images: ['/img/hotel-10.jpg', '/img/hotel-2.jpg']},
			{number: 444, lux: false, price: '5 000₽', stars: 3, reviews: 15, images: ['/img/hotel-11.jpg', '/img/hotel-2.jpg']},
			{number: 352, lux: false, price: '5 000₽', stars: 3, reviews: 55, images: ['/img/hotel-11.jpg', '/img/hotel-2.jpg']},
		]

		var checkboxButtons = [
			{title: '', text: 'Можно курить', checked: false},
			{title: '', text: 'Можно с питомцами', checked: true},
			{title: '', text: 'Можно пригласить гостей (до 10 человек)', checked: true}
		]

		var richCheckboxButtons = [
			{
				title: 'Широкий коридор',
				text: 'Ширина коридоров в номере не менее 91 см.',
				checked: true
			},
			{
				title: 'Помощник для инвалидов',
				text: 'На 1 этаже вас встретит специалист и проводит до номера.',
				checked: false,
				width: true
			}
		]

		var checkboxList = [
			{title: '', text: 'Завтрак', checked: false},
			{title: '', text: 'Письменный стол', checked: true},
			{title: '', text: 'Стул для кормления', checked: true},
			{title: '', text: 'Кроватка', checked: true},
			{title: '', text: 'Телевизор', checked: false},
			{title: '', text: 'Шампунь', checked: false},
			{title: '', text: 'Телевизор', checked: false},
			{title: '', text: 'Шампунь', checked: false},
		]

		var checkboxListFE = [
			{title: '', text: 'Завтрак', checked: false},
			{title: '', text: 'Письменный стол', checked: true},
			{title: '', text: 'Стул для кормления', checked: true},
			{title: '', text: 'Кроватка', checked: true},
			{title: '', text: 'Телевизор', checked: false},
			{title: '', text: 'Шампунь', checked: false},
			{title: '', text: 'Телевизор', checked: false},
			{title: '', text: 'Шампунь', checked: false},
		]