include ../components/dropdown/dropdown.pug
include ../components/button-big/button-big.pug

form.card-find
	h2.card-find__title Найдём номера под ваши пожелания
	.card-find__row
		+dropdownDate('прибытие', '', 'ДД.ММ.ГГГГ')
		+dropdownDate('выезд', '', 'ДД.ММ.ГГГГ')
	.card-find__wrapper
		+dropdown('Гости', '', 'Сколько гостей')
	+button-big('подобрать номер')