include ../../variables/variables.pug
include ../group-dropdown-date/group-dropdown-date.pug
include ../dropdown-buttons/dropdown-buttons.pug
include ../dropdown/dropdown.pug
include ../button-big/button-big.pug

form.card-find
	h2.card-find__title Найдём номера под ваши пожелания
	.card-find__row
		+groupDropdownDate({titleLeft: 'прибытие', titleRight: 'выезд', placeholder: 'ДД.ММ.ГГГГ'})
	.card-find__wrapper
		+dropdownButtons({title: 'Dropdown', status: 'default', values: dropdownFE, id: 'drop-first'})
	+button-big({title: 'подобрать номер'})
