
mixin self-element(parameters)
	- var link = parameters.link
	- var title = parameters.title
	- var text = parameters.text

	.self-element
		.self-element__img
			img(src=link alt="picture")
		.self-element__wrapper
			p.self-element__title #{title}
			p.self-element__text #{text}
