.self-element {
  display: flex;
  border-bottom: 0.1rem solid  rgba(31, 32, 65, 0.1);
  width: 100%;
  padding: 2.2rem 0;
  padding-left: 0.4rem;
}

.self-element__img {
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.self-element__wrapper {
  margin-left: 1.4rem;
}

.self-element__title {
  @include textNormal75;
  font-weight: bold;
  margin: 0;
  margin-top: -0.3rem;
  margin-bottom: 0.3rem;
}

.self-element__text {
  @include textNormal50;
  margin: 0;
}