.footer-ui-simple {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  min-height: 367px;
  padding-top: 100px;
}

.footer-ui-simple__description {
  @include  textNormal75();
  max-width: 560px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 23px;
}

.footer-ui-simple__socials {
  margin-top: 7px;
}
