include ../logo/logo.pug
include ../socials/socials.pug

mixin footer-ui-simple()
	footer.footer-ui-simple
		+logo()
		p.footer-ui-simple__description Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
		.footer-ui-simple__socials
			+socials()
