.footer-ui-simple {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 1rem 2rem rgba(31, 32, 65, 0.05);
  min-height: 36.7rem;
  padding-top: 10rem;
}

.footer-ui-simple__description {
  @include  textNormal75();
  max-width: 56rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2.3rem;
}

.footer-ui-simple__socials {
  margin-top: 0.7rem;
}
