.square {
  display: flex;
  align-items: center;
}

.square__color {
  width: 7rem;
  height: 7rem;
  border-radius: 0.6rem;
}

.square__wrapper {
  width: 16rem;
  margin-left: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.square__text {
  @include fontH2;
  margin: 0;
  margin-bottom: 0.2rem;
}

.square__text-color {
  @include fontH2;
  margin: 0;
  margin-bottom: 0.3rem;
  font-weight: 400;
}
