include ../../variables/variables.pug
include ../components/text-field/text-field.pug
include ../form-email/form-email.pug
include ../components/dropdown/dropdown.pug
include ../components/dropdown-date/dropdown-date.pug
include ../components/checkbox/checkbox.pug
include ../checkbox-list/checkbox-list.pug
include ../components/self-element/self-element.pug
include ../components/radio/radio.pug
include ../checkbox-buttons/checkbox-buttons.pug
include ../components/bullet-list/bullet-list.pug
include ../components/review/review.pug
include ../components/range/range.pug




- var values = [{ title: 'спальни', num: 2}, { title: 'кровати', num: 2}, { title: 'ванные комнаты', num: 0}];
- var values2 = [{ title: 'спальни', num: 0}, { title: 'кровати', num: 0}, { title: 'ванные комнаты', num: 0}];

main.main-form-elements
	.main-form-elements__wrapper
		.main-form-elements__container
			.main-form-elements__row
				.main-form-elements__col
					+textField('email', 'Email', '', 'Text Field', 'default')
					+textField('email', 'Email', 'This is pretty awesome', 'Text Field', 'Hover / Focus')
					+dropdown('Сколько гостей', 'Dropdown', 'default', false, values)
					+textField('text', 'ДД.ММ.ГГГГ', '', 'masked text field', 'default')
					+dropdownDate('ДД.ММ.ГГГГ', 'date Dropdown', '', 'small')
					+dropdownDate('19 авг - 23 авг', 'date Dropdown', '', 'small')
					+dropdownDate('19 авг - 23 авг', 'filter date dropdown', '', 'medium')
					+formEmail('subscription text field')
				.main-form-elements__col
					+checkbox-buttons('Checkbox Buttons', checkboxButtons)
					+radio('test', 'Radio Buttons', [{text: 'Мужчина', checked: true}, {
						text: 'Женщина',
						checked: false
					}])
					include ../toggles/toggles.pug
					include ../like-buttons/like-buttons.pug
					include ../rate-buttons/rate-buttons.pug
				.main-form-elements__col
					+range('Range Slider', '5 000₽ - 10 000₽', 'Стоимость за сутки пребывания в номере')
					include ../buttons/buttons.pug
					include ../components/pagination/pagination.pug
			.main-form-elements__row
				.main-form-elements__col
					+dropdown('2 спальни, 2 кровати...', 'Dropdown', 'default', false, values, '', 'medium')
					+dropdown('2 спальни, 2 кровати...', 'Dropdown', 'default', true, values, '', 'medium')
				.main-form-elements__col
					+dropdown('Сколько гостей', 'Dropdown', '', true, values2, true, '')
				.main-form-elements__col
					+dropdown('3 гостя', 'Dropdown', '', true, values, true, '')
			.main-form-elements__row
				.main-form-elements__col
					+checkbox-list(false, checkboxListFE, 'expandable checkbox list')
					+checkbox-list(true, checkboxListFE, 'expandable checkbox list')
				.main-form-elements__col
					+checkbox-buttons('Rich Checkbox Buttons', richCheckboxButtons)
				.main-form-elements__col
					+bullet-list('bullet list', ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'])
			.main-form-elements__row
				.main-form-elements__col
					+self-element("/img/location-city.svg", 'Удобство', 'Окно в каждой из спален')
					+self-element("/img/insert-emoticon.svg", 'Комфорт', 'Шумопоглощающие стены')
				.main-form-elements__col
					+review('/img/murad.png', 'Мурад Сарафанов', '5 дней назад', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')
