include ../../variables/variables.pug
include ../components/text-field/text-field.pug
include ../components/title-3lvl/title-3lvl.pug
include ../form-email/form-email.pug
include ../components/dropdown/dropdown.pug
include ../components/dropdown-date/dropdown-date.pug
include ../components/checkbox/checkbox.pug
include ../checkbox-list/checkbox-list.pug
include ../components/self-element/self-element.pug
include ../components/radio/radio.pug
include ../checkbox-buttons/checkbox-buttons.pug
include ../components/bullet-list/bullet-list.pug
include ../components/review/review.pug
include ../components/range/range.pug

main.main-form-elements
	.main-form-elements__wrapper
		.main-form-elements__container
			.main-form-elements__row
				.main-form-elements__col
					.main-form-elements__corrector.main-form-elements__corrector--1
						+textField('email', 'Email', '', 'Text Field', 'default')
					+textField('email', 'Email', 'This is pretty awesome', 'Text Field', 'Hover / Focus')
					.main-form-elements__corrector.main-form-elements__corrector--2
						+dropdown('Сколько гостей', 'Dropdown', 'default', false, values)
					+textField('text', 'ДД.ММ.ГГГГ', '', 'masked text field', 'default')
					.main-form-elements__corrector.main-form-elements__corrector--3
						+dropdownDate('ДД.ММ.ГГГГ', 'date Dropdown', '', 'small')
						+dropdownDate('19.08.2019', 'date Dropdown', '', 'small')
					+dropdownDate('19 авг - 23 авг', 'filter date dropdown', '', 'medium')
					.main-form-elements__corrector.main-form-elements__corrector--4
						+formEmail('subscription text field')
				.main-form-elements__col
					+checkbox-buttons('Checkbox Buttons', checkboxButtons)
					.main-form-elements__corrector.main-form-elements__corrector--5
						+radio('test', 'Radio Buttons', [{text: 'Мужчина', checked: true}, {
							text: 'Женщина',
							checked: false
						}])
					include ../toggles/toggles.pug
					include ../like-buttons/like-buttons.pug
					include ../rate-buttons/rate-buttons.pug
				.main-form-elements__col
					+range('Range Slider', '5 000₽ - 10 000₽', 'Стоимость за сутки пребывания в номере')
					include ../buttons/buttons.pug
					.main-form-elements__pagination
						+title-3lvl('Pagination')
						include ../components/pagination/pagination.pug
			.main-form-elements__row
				.main-form-elements__col
					.main-form-elements__corrector.main-form-elements__corrector--6
						+dropdown('2 спальни, 2 кровати...', 'Dropdown', 'default', false, dropdownFE, '', 'medium')
						+dropdown('2 спальни, 2 кровати...', 'Dropdown', 'expanded', true, dropdownFE2, '', 'medium')
				.main-form-elements__col
					+dropdown('Сколько гостей', 'Dropdown', '', true, dropdownFE, true, 'wide')
				.main-form-elements__col
					+dropdown('3 гостя', 'Dropdown', '', true, dropdownFE3, true, 'wide')
			.main-form-elements__row
				.main-form-elements__col
					+checkbox-list(false, checkboxListFE, 'expandable checkbox list')
					.main-form-elements__corrector.main-form-elements__corrector--7
						+checkbox-list(true, checkboxListFE, 'expandable checkbox list')
				.main-form-elements__col
					.main-form-elements__corrector.main-form-elements__corrector--8
						+checkbox-buttons('Rich Checkbox Buttons', richCheckboxButtons)
				.main-form-elements__col
					.main-form-elements__corrector.main-form-elements__corrector--8
						+bullet-list('bullet list', bulletList)
			.main-form-elements__row
				.main-form-elements__col
					+self-element("/img/insert-emoticon.svg", 'Комфорт', 'Шумопоглощающие стены')
					+self-element("/img/location-city.svg", 'Удобство', 'Окно в каждой из спален')
				.main-form-elements__col.main-form-elements__col--auto
					.main-form-elements__corrector.main-form-elements__corrector--9
						+review('/img/murad.png', 'Мурад Сарафанов', '5 дней назад', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.', 12, true)
