.main-form-elements {
  background-color: #ffffff;
  display: flex;
  @include container();
}

.main-form-elements__wrapper {
  position: relative;
  border-top: 1px solid transparent;
  margin-top: 143px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &::before {
    position: absolute;
    content: '';
    top: -114px;
    left: 30px;
    width: 48px;
    height: 48px;
    background-image: url('/img/logo-gray.svg');
    background-repeat: no-repeat;
  }
}

.main-form-elements__container {
  margin: 0 auto;
  width: 83.3%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 21px;
  padding-right: 15px;

}

.main-form-elements__col {
  display: flex;
  flex-direction: column;
  width: 27.5%;
  flex-shrink: 0;
  min-width: $minWidthComponent;
  min-height: 280px;

  &:nth-child(1) {
    min-height: 726px;
  }

  &:nth-child(3n + 2) {
    margin-left: 10.5%;
  }

  &:nth-child(3n + 3) {
    margin-left: 5.5%
  }
}

.main-form-elements__auto {
  width: 61%;
  margin-left: 10.5%;
}

.main-form-elements__text-field {
  margin-top: 17px;
  margin-bottom: 12px;
}

.main-form-elements__masked-text-field {
  margin-top: 20px;
  margin-bottom: 35px;
}

.main-form-elements__filter {
  margin-top: 32px;
  margin-bottom: 35px;
}

.main-form-elements__pagination {
  margin-top: 43px;
}
.main-form-elements__radio {
  margin-top: 19px;
  margin-bottom: 41px;
}

.main-form-elements__toggles {
  margin-bottom: 33px;
}

.main-form-elements__like-buttons {
  margin-bottom: 40px;
}

.main-form-elements__dropdown {
  height: 156px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 165px;
}

.main-form-elements__checkbox {
  margin-top: 31px;
  margin-bottom: 20px;
}

.main-form-elements__list-buttons {
  margin-top: 5px;
}

.main-form-elements__review {
  margin-top: 27px;
}

@media (max-width: $desktopWidth) {
  .main-form-elements__row {
    flex-wrap: wrap;
  }

  .main-form-elements__col {
    margin: 0 auto;

    &:nth-child(3n + 2) {
      margin: 0 auto;

    }

    &:nth-child(3n + 3) {
      margin: 0 auto;
    }
  }

  .main-form-elements__auto {
    margin: 0 auto;
  }
}

@media (max-width: $smDesktopWidth) {
  .main-form-elements__auto {
    width: auto;
  }
}

@media (max-width: $phoneWidth) {

  .main-form-elements__container {
    padding: 0;
  }
}