include ../text-field/text-field.pug
include ../dropdown/dropdown.pug
include ../checkbox/checkbox.pug
include ../checkbox-list/checkbox-list.pug
include ../self-element/self-element.pug
include ../radio/radio.pug

- var values = [{ title: 'спальни', num: 2}, { title: 'кровати', num: 2}, { title: 'ванные комнаты', num: 0}];

main.main-form-elements
	+textField('e-mail', 'Email', '', 'Text Field', 'default')
	+textField('e-mail', 'Email', 'This is pretty awesome', 'Text Field', 'Hover / Focus')
	+textField('text', 'ДД.ММ.ГГГГ', '', 'masked text field', 'default')
	+textField('e-mail', 'Email', '', 'subscription text field', 'subscription')
	+dropdownDate('date Dropdown', '', 'ДД.ММ.ГГГГ')
	+dropdown('Dropdown', 'default', 'Сколько гостей', false, values)
	+dropdown('Dropdown', '', '19 авг - 23 авг', true, values)
	+dropdownList('Dropdown', 'default', '2 спальни, 2 кровати...', false, values)
	+dropdownList('Dropdown', 'expanded', '2 спальни, 2 кровати...', false, values, true)

	+checkbox('Широкий коридор', 'Ширина коридоров в номере не менее 91 см.', true, 220)
	+checkbox('', 'На 1 этаже вас встретит специалист и проводит до номера.', false)

- var values = [{title: '', text: 'Завтрак', checked: false, width: null}, {title: '', text: 'Письменный стол', checked: true, width: null}]
- var open = true

	+checkbox-list(false, values)
	+checkbox-list(open, values)

	+self-element("/img/insert-emoticon.svg", 'Комфорт', 'Шумопоглощающие стены')
	+self-element("/img/location-city.svg", 'Удобство', 'Окно в каждой из спален')

	+radio('test', 'Radio Buttons', [{ text: 'Мужчина', checked: true}, { text: 'Женщина', checked: false}])
	include ../toggles/toggles.pug
	include ../like-buttons/like-buttons.pug
