.main-form-elements {
  background-color: #ffffff;
  display: flex;
}

.main-form-elements__wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid transparent;
  margin-top: 143px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &::before {
    position: absolute;
    content: '';
    top: -114px;
    left: 30px;
    width: 48px;
    height: 48px;
    background-image: url('/img/logo-gray.svg');
    background-repeat: no-repeat;
  }
}

.main-form-elements__container {
  @include container;
  width: 83.3%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 21px;
  padding-right: 15px;

}

.main-form-elements__col {
  display: flex;
  flex-direction: column;
  width: 28%;
  flex-shrink: 0;
  min-width: $minWidthComponent;
  min-height: 280px;

  &:nth-child(3n + 2) {
    margin-left: 10.5%;
  }

  &:nth-child(3n + 3) {
    margin-left: 5.5%
  }
}

.main-form-elements__auto {
  width: 61%;
  margin-left: 10.5%;
}

.main-form-elements__corrector {

  &--1 {
    margin-top: -6px;
    margin-bottom: 14px;
  }

  &--2 {
    margin-top: 12px;
    margin-bottom: 16px;
  }

  //&--3 {
  //  margin-top: 34px;
  //  margin-bottom: 33px;
  //  display: flex;
  //  max-width: 320px;
  //  width: 100%;
  //  justify-content: space-between;
  //}

  &--4 {
    margin-top: 34px;
    margin-bottom: 92px;
  }

  &--5 {
    margin-top: 27px;
    margin-bottom: 38px;
  }

  &--6 {
    height: 156px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 165px;
  }

  &--7 {
    margin-top: 31px;
    margin-bottom: 20px;
  }

  &--8 {
    margin-top: 5px;
  }

  &--9 {
    margin-top: 27px;
  }
}

@media (max-width: $desktopWidth) {
  .main-form-elements__row {
    flex-wrap: wrap;
  }

  .main-form-elements__col {
    margin: 0 auto;

    &:nth-child(3n + 2) {
      margin: 0 auto;

    }

    &:nth-child(3n + 3) {
      margin: 0 auto;
    }
  }

  .main-form-elements__auto {
    margin: 0 auto;
    //width: auto;
  }
}

@media (max-width: $smDesktopWidth) {
  .main-form-elements__auto {
    width: auto;
  }
}

@media (max-width: $phoneWidth) {

  .main-form-elements__container {
    padding: 0;
  }
}