.card-calendar {
  width: 32rem;
  min-height: 36.9rem;
  padding: 1.9rem;

  background: #FFFFFF;
  border: 0.1rem solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  box-shadow: 0 1rem 2rem rgba(31, 32, 65, 0.05);
  border-radius: 0.4rem;

  &_close {
    display: none;
  }
}

.card-calendar__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.2rem;
}

.card-calendar__title {
  font-family: $secondFont;
  font-style: normal;
  font-weight: bold;
  font-size: 1.9rem;
  line-height: 2.4rem;
  text-align: center;
  color: #1F2041;
  margin: 0;
}

.card-calendar__button {
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border: none;
  background-image: url("/img/arrow-forward.svg");
  background-repeat: no-repeat;
  background-position: center center;

  &_left {
    transform: rotate(180deg);
  }
}

.card-calendar__wrapper {
}

.card-calendar__days {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.card-calendar__day {
  @include fontH3;
  text-transform: none;
  display: flex;
  align-items: center;
  text-align: center;
  color: $purple;
}

.card-calendar__numbers {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.1rem;
  margin-bottom: 2rem;
}

.card-calendar__number {
  @include fontH3;
  font-weight: normal;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: $darkShade50;

  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  &_empty {
    color: $darkShade25;
  }

  &_today {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    color: #FFFFFF;
    font-weight: bold;
  }

  &_start,
  &_end {
    position: relative;


    &:before {
      z-index: 1;
      position: absolute;
      content: attr(data-number);
      width: 4rem;
      height: 4rem;
      border-radius: 50%;

      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      @include fontH3;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    }

    &:after {
      position: absolute;
      content: '';
      width: 4rem;
      height: 4rem;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      opacity: 0.25;
      border-top-left-radius:  50%;
      border-bottom-left-radius:  50%;
    }
  }

  &_end {
    &:after {
      border-top-left-radius:  0%;
      border-bottom-left-radius:  0%;
      border-top-right-radius:  50%;
      border-bottom-right-radius:  50%;
    }
  }

  &_middle {
    position: relative;

    &:before {
      position: absolute;
      content: '';
      width: 4rem;
      height: 4rem;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      opacity: 0.25;
    }
  }

}

.card-calendar__buttons {
  display: flex;
  justify-content: space-between;
}

.card-calendar__button-clear {
  @include fontH3;
  color: $darkShade50;
  background: transparent;
  border: none;
  padding: 0;
}

.card-calendar__button-submit {
  @include fontH3;
  color: $purple;
  background: transparent;
  border: none;
  padding: 0;
}