section.card-calendar.js-card-calendar
	.card-calendar__header
		button(type="button").card-calendar__button.card-calendar__button_left
		h2.card-calendar__title.js-card-calendar__title Август 2019
		button(type="button").card-calendar__button.card-calendar__button_right
	.card-calendar__wrapper
		.card-calendar__days
			.card-calendar__day Пн
			.card-calendar__day Вт
			.card-calendar__day Ср
			.card-calendar__day Чт
			.card-calendar__day Пт
			.card-calendar__day Сб
			.card-calendar__day Вс
		.card-calendar__numbers.js-card-calendar__numbers
			div(data-number="1").card-calendar__number.card-calendar__number_empty 29
			div(data-number="1").card-calendar__number.card-calendar__number_empty 30
			div(data-number="1").card-calendar__number.card-calendar__number_empty 31
			div(data-number="1").card-calendar__number 1
			div(data-number="1").card-calendar__number 2
			div(data-number="1").card-calendar__number 3
			div(data-number="1").card-calendar__number 4
			div(data-number="1").card-calendar__number 5
			div(data-number="1").card-calendar__number 6
			div(data-number="1").card-calendar__number 7
			div(data-number="1").card-calendar__number.card-calendar__number_today 8
			div(data-number="1").card-calendar__number 9
			div(data-number="1").card-calendar__number 10
			div(data-number="1").card-calendar__number 11
			div(data-number="1").card-calendar__number 12
			div(data-number="1").card-calendar__number 13
			div(data-number="1").card-calendar__number 14
			div(data-number="1").card-calendar__number 15
			div(data-number="1").card-calendar__number 16
			div(data-number="1").card-calendar__number 17
			div(data-number="1").card-calendar__number 18
			div(data-number="19").card-calendar__number.card-calendar__number_start 19
			div(data-number="1").card-calendar__number.card-calendar__number_middle 20
			div(data-number="1").card-calendar__number.card-calendar__number_middle 21
			div(data-number="1").card-calendar__number.card-calendar__number_middle 22
			div(data-number="23").card-calendar__number.card-calendar__number_end 23
			div(data-number="1").card-calendar__number 24
			div(data-number="1").card-calendar__number 25
			div(data-number="1").card-calendar__number 26
			div(data-number="1").card-calendar__number 27
			div(data-number="1").card-calendar__number 28
			div(data-number="1").card-calendar__number 29
			div(data-number="1").card-calendar__number 30
			div(data-number="1").card-calendar__number 31
			div(data-number="1").card-calendar__number.card-calendar__number_empty 1
	.card-calendar__buttons
		button(type="button").card-calendar__button-clear.js-card-calendar__button-clear очистить
		button(type="button").card-calendar__button-submit.js-card-calendar__button-submit применить
