include ../form-email/form-email.pug

mixin list(values)
	ul.footer__list
		each val, index in values
			if(index === 0)
				li.footer__item.footer__item--title #{val}
			else
				li.footer__item
					a(href="#nowhere").footer__link  #{val}

mixin footer-ui()
	footer.footer
		.footer__wrapper
			.footer__logo
				include ../components/logo/logo.pug
				p.footer__description Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
			.footer__lists
				+list(['Navigation', 'About Us', 'News', 'Support', 'Products'])
				+list(['ABOUT US', 'Who we are', 'Our team', 'Careers', 'Investors'])
				+list(['Support', 'Documentation', 'Community', 'Get in Touch'])

			.footer__subscribe
				h3.footer__subscribe-tittle Subscribe to our newsletter
				p.footer__subscribe-description Receive our latest news and promotions in your inbox!
				+formEmail('')
		.footer__line
		.footer__bottom
			p.footer__copyright Copyright © 2018 Toxin UI Kit. All rights reserved.
			include ../socials/socials.pug
