include ../components/text-field/text-field.pug

mixin list(values)
	ul.footer__list
		each val, index in values
			if(index === 0)
				li.footer__item.footer__item--title #{val}
			else
				li.footer__item
					a(href="#nowhere").footer__link  #{val}

mixin footer()
	footer.footer-ui
		.footer__wrapper
			.footer__logo
				include ../components/logo/logo.pug
				p.footer__description Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
			.footer__lists
				+list(['навигация', 'О нас', 'Новости', 'Служба поддержки', 'Услуги'])
				+list(['о нас', 'О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы'])
				+list(['Служба поддержки', 'Соглашения', 'Сообщества', 'Связь с нами'])

			.footer__subscribe
				h3.footer__subscribe-tittle Подписка
				p.footer__subscribe-description Получайте специальные предложения и новости сервиса
				+textField('email', 'Email', '', '', 'subscription')
		.footer__line
		.footer__bottom
			p.footer__copyright Copyright © 2018 Toxin отель. Все права зачищены.
			include ../socials/socials.pug
