mixin radio(parameters)
	- var name = parameters.name
	- var title = parameters.title
	- var values = parameters.values

	.radio
		if (title)
			p.radio__title #{title}
		.radio__list
			each val in values
				div.radio__item
					label.radio__label
						input(type='radio' name=name checked=val.checked).radio__input
						span.radio__box
						span.radio__circle
						span.radio__text #{val.text}


