
.radio__list {
  display: flex;
}

.radio__item {
  margin-right: 2rem;
}

.radio__title {
  @include  fontH3;
}

.radio__label {
  position: relative;
  padding-left: 3rem;
  display: block;

  & .radio__input[type="radio"]:checked ~ .radio__circle {
    display: block;
  }

  & .radio__input[type="radio"]:checked ~ .radio__box {
    border: 0.1rem solid $purple;
  }

  & .radio__input[type="radio"]:checked ~ .radio__text {
    color: $darkShade75;
  }

}

.radio__circle {
  display: none;
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  left: 0.4rem;
  top: 0.6rem;
  border-radius: 1.5rem;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.radio__box {
  position: absolute;
  content: '';
  width: 2rem;
  height: 2rem;
  left: 0;
  top: 0.2rem;
  border: 0.1rem solid $darkShade25;
  box-sizing: border-box;
  border-radius: 50%;
}

.radio__input {
  @include visually-hidden;
}

.radio__text {
  @include textNormal50;
  display: inline-block;
  margin: 0;
}