block variables
	- var title = 'Form Elements';
	- var pageClass = 'index-page';


doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		title #{title}

	body(class=pageClass)
		include ./blocks/main-form-elements/main-form-elements.pug
