block variables
  - var title = 'TOXIN';
  - var pageClass = 'index-page';

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title #{title}

  body(class=pageClass)
    include ./blocks/header/header.pug
    include ./blocks/main-page/main-page.pug

