include ./blocks/header/header.pug
include ./blocks/footer/footer.pug
include ./blocks/head/head.pug
include ./blocks/main-registration/main-registration.pug

doctype html
html(lang='ru')
	+head({title: 'Registration'})
	body
		+header({
			items: [
					{title: 'О нас', modifier: false, active: false},
					{title: 'Услуги', modifier: true, active: false},
					{title: 'Вакансии', modifier: false, active: false},
					{title: 'Новости', modifier: false, active: false},
					{title: 'Соглашения', modifier: true, active: false}
				],
			user: {logged: false, enter: 'войти', register: 'зарегистрироваться', entered: ''},
			ui: false
		})
		+main-registration()
		+footer()
