include ./blocks/header/header.pug
include ./blocks/footer/footer.pug
include ./blocks/head/head.pug

doctype html
html(lang='ru')
	+head('Registration')

	body
		+header(
		[
			{title: 'О нас', modifier: false, active: false},
			{title: 'Услуги', modifier: true, active: false},
			{title: 'Вакансии', modifier: false, active: false},
			{title: 'Новости', modifier: false, active: false},
			{title: 'Соглашения', modifier: true, active: false}
		],
		{logged: false, enter: 'войти', register: 'зарегистрироваться', entered: ''}
		)
		include ./blocks/main-registration/main-registration.pug
		+footer()
