include ./blocks/head/head.pug
include ./blocks/components/text-field/text-field.pug
include ./blocks/components/dropdown/dropdown.pug
include ./variables/variables.pug
include ./blocks/header/header.pug


doctype html
html(lang='ru')
	+head('Test')
	body
		+header(
		[
			{title: 'О нас', modifier: false, active: false},
			{title: 'Услуги', modifier: true, active: false},
			{title: 'Вакансии', modifier: false, active: false},
			{title: 'Новости', modifier: false, active: false},
			{title: 'Соглашения', modifier: true, active: false}
		],
		{logged: false, enter: 'войти', register: 'зарегистрироваться', entered: ''}
		)
		+header(
		[
			{title: 'Home', modifier: false, active: true},
			{title: 'About Us', modifier: false, active: false},
			{title: 'Services', modifier: true, active: false},
			{title: 'Careers', modifier: false, active: false},
			{title: 'News', modifier: false, active: false},
			{title: 'Documentation', modifier: false, active: false}
		],
		{logged: false, enter: 'Login', register: 'REGISTER', entered: 'Cosmin Negoita'},
		true
		)

		+header(
		[
			{title: 'Home', modifier: false, active: true},
			{title: 'About Us', modifier: false, active: false},
			{title: 'Services', modifier: true, active: false},
			{title: 'Careers', modifier: false, active: false},
			{title: 'News', modifier: false, active: false},
			{title: 'Documentation', modifier: false, active: false}
		],
		{logged: true, enter: 'Login', register: 'REGISTER', entered: 'Cosmin Negoita'},
		true
		)




