include ./blocks/head/head.pug
include ./blocks/components/text-field/text-field.pug
include ./blocks/components/dropdown/dropdown.pug
include ./variables/variables.pug
include ./blocks/components/button-big/button-big.pug


doctype html
html(lang='ru')
	+head('Test')
	body
		//include ./blocks/card-find/card-find.pug
		//include ./blocks/card-registration/card-registration.pug
		include ./blocks/card-reserve/card-reserve.pug




