
mixin text-field(parameters)
	- const { type, placeholder, title } = parameters

	label.text-field
		if (title)
			span.text-field__title #{title}
		input(type=type placeholder=placeholder).text-field__input
