.type__row {
  display: flex;
  flex-direction: row;
  margin-bottom: 4.9rem;
}

.type__title {
  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;
  text-align: right;
  color: $darkShade25;
  width: 4rem;
  margin: 0;
  margin-right: 3rem;

  &_one {
    font-size: 2.4rem;
    line-height: 2.9rem;
  }

  &_two {
    font-size: 1.9rem;
    line-height: 2.3rem;
  }

  &_three {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  &_four {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}

.type__text {
  @include fontH1;
  margin: 0;

  &_one {
    @include fontH1;
  }

  &_two {
    @include fontH2;
  }

  &_three {
    @include fontH3;
  }

  &_four {
    @include textNormal75;
  }
}
