mixin type()
	.type
		.type__row
			p.type__title.type__title_one H1
			p.type__text.type__text_one This one is the sub-section or <br> widget title
		.type__row
			p.type__title.type__title_two H2
			p.type__text.type__text_two Next one is the item title inside <br> widgets
		.type__row
			p.type__title.type__title_three H3
			p.type__text.type__text_three This is a label or CTA text
		.type__row
			p.type__title.type__title_four Body
			p.type__text.type__text_four This is the body text which is used for most <br> of the design, like paragraphs, lists, etc.