section.type
	.type__row
		.type__title.type__title--one H1
		.type_text.type__text--one This one is the sub-section or <br> widget title
	.type__row
		.type__title.type__title--two H2
		.type_text.type__text--two Next one is the item title inside <br> widgets
	.type__row
		.type__title.type__title--three H3
		.type_text.type__text--three This is a label or CTA text
	.type__row
		.type__title.type__title--four body
		.type_text.type__text--four This is the body text which is used for most <br> of the design, like paragraphs, lists, etc.