.checkbox-buttons__title {
  @include fontH3;
}

.checkbox-buttons__corrector {
  height: 1px;
  margin-top: -2px;
}

.checkbox-buttons__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.checkbox-buttons__item {
  margin-bottom: 6px;
}