.checkbox-buttons__title {
  @include fontH3;
  margin-bottom: 1.5rem;
}

.checkbox-buttons__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.checkbox-buttons__item {
  margin-bottom: 0.7rem;
}