include ../checkbox/checkbox.pug
.checkbox-buttons
	p.checkbox-buttons__title Checkbox Buttons
	+checkbox('', 'Можно курить', false)
	+checkbox('', 'Можно с питомцами', true)
	+checkbox('', 'Можно пригласить гостей (до 10 человек)', true, 230)