include ../components/checkbox/checkbox.pug
include ../components/title-3lvl/title-3lvl.pug


mixin checkbox-buttons(title, values)
	.checkbox-buttons
		+title-3lvl(title)
		.checkbox-buttons__corrector
		each val in values
			+checkbox(val.title, val.text, val.checked, val.width)
