include ../checkbox/checkbox.pug
include ../title-3lvl/title-3lvl.pug


mixin checkbox-buttons(title, values)
	.checkbox-buttons
		+title-3lvl(title)
		each val in values
			+checkbox(val.title, val.text, val.checked, val.width)
