include ../checkbox/checkbox.pug
include ../title-third-lvl/title-third-lvl.pug


mixin checkbox-buttons(parameters)
	- var title = parameters.title
	- var values = parameters.values
	.checkbox-buttons
		.checkbox-buttons__title #{title}
		ul.checkbox-buttons__list
			each val in values
				li.checkbox-buttons__item
					+checkbox({title: val.title, text: val.text, checked: val.checked, size: val.width})
