.footer-ui {
  box-shadow: 0 1rem 2rem rgba(31, 32, 65, 0.05);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.footer-ui__wrapper {
  display: flex;
  min-height: 27.6rem;
  @include content();
  margin-top: 9.5rem;
  justify-content: space-between;
}

.footer-ui__logo {
  width: 26%;
  margin-top: 0.5rem;
  padding-right: 2rem;
}

.footer-ui__description {
  @include textNormal75();
  margin-top: 0.9rem;
}

.footer-ui__lists {
  display: flex;
  margin-top: 0.9rem;
  width: 52%;
}

.footer-ui__list {
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 0;
}

.footer-ui__item {
  @include textNormal50();
  letter-spacing: 0;
  margin-bottom: 2.1rem;

  &_title {
    @include fontH3();
  }
}

.footer-ui__link {
  @include textNormal50();
  letter-spacing: 0;

  &:visited {
    color: $darkShade50;
  }
}

.footer-ui__subscribe {
  margin-top: 0.9rem;
  width: 22.5%;
}

.footer-ui__subscribe-tittle {
  @include fontH3();
  margin: 0;
  letter-spacing: 0;
}

.footer-ui__subscribe-description {
  @include textNormal75();
  margin-top: 1.7rem;
  margin-bottom: 2.4rem;
}

.footer-ui__line {
  height: 0.1rem;
  background: $darkShade50;
}

.footer-ui__bottom {
  display: flex;
  margin: 0 auto;
  width: 83%;
  padding: 0 1.2%;
  min-height: 7rem;
  justify-content: space-between;
  align-items: center;

}

.footer-ui__copyright {
  @include textNormal75();
  margin: 0;
}

.footer-ui__socials {
  margin-top: 0.7rem;
}

@media(max-width: $desktopWidth) {
  .footer-ui__wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer-ui__logo {
    width: 50%;
  }

  .footer-ui__subscribe {
    order: 1;
    width: 50%;
  }

  .footer-ui__lists {
    width: 100%;
    order: 2;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }
  .footer-ui__list {
    width: 33%;
  }

  .footer-ui__bottom {
    flex-wrap: wrap;
  }
}