.footer-ui {
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.footer-ui__wrapper {
  display: flex;
  min-height: 276px;
  @include content();
  margin-top: 95px;
  justify-content: space-between;
}

.footer-ui__logo {
  width: 300px;
  padding-right: 20px;
}

.footer-ui__description {
  @include textNormal75();
  margin-top: 9px;
}

.footer-ui__lists {
  display: flex;
  margin-top: 9px;
  width: 52%;
}

.footer-ui__list {
  list-style: none;
  padding: 0;
  max-width: 200px;
  width: 100%;
  margin: 0;
}

.footer-ui__item {
  @include textNormal50();
  letter-spacing: 0;
  margin-bottom: 21px;

  &_title {
    @include fontH3();
  }
}

.footer-ui__link {
  @include textNormal50();
  letter-spacing: 0;

  &:visited {
    color: $darkShade50;
  }
}

.footer-ui__subscribe {
  margin-top: 9px;
  width: 260px;
}

.footer-ui__subscribe-tittle {
  @include fontH3();
  margin: 0;
  letter-spacing: 0;
}

.footer-ui__subscribe-description {
  @include textNormal75();
  margin-top: 17px;
  margin-bottom: 12px;
}

.footer-ui__line {
  height: 1px;
  background: $darkShade50;
}

.footer-ui__bottom {
  display: flex;
  @include container();
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;

}

.footer-ui__copyright {
  @include textNormal75();
  margin: 0;
}

@media(max-width: $desktopWidth) {
  .footer-ui__wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer-ui__subscribe {
    order: 1;
  }

  .footer-ui__lists {
    width: 100%;
    order: 2;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }

  .footer-ui__bottom {
    flex-wrap: wrap;
  }
}